.label-menu-fixer-alternativa{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  margin-right: 3.5rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
}

.item-input-alternativa{
  --background: #fdfdfd;
  border-radius: 2rem;
  margin: 1rem;
  height: 2.3rem;
}

.input-alternativa{
  justify-content: center;
  text-align: center;
  --padding-top: 0px;
  --padding-bottom: 7px;
}

.card-alternativa{
    backface-visibility: hidden;
    border-radius: 21px;
    width: auto;
    height: 15rem;
}

.row-alternativa{
  justify-content: center;
  text-align: center;

  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: .2rem;
}
ion-item{
  --highlight-color-focused: none;
}