.label-menu-fixer-alternativa{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  margin-right: 3.5rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
  
}

.item-input-alternativa{
  --background: #fdfdfd;
  border-radius: 2rem;
  margin: 1rem;
  height: 2.3rem;
}

.input-alternativa{
  justify-content: center;
  text-align: center;
  --padding-top: 0px;
  --padding-bottom: 7px;
  
}

.card-alternativa{
    backface-visibility: hidden;
    border-radius: 21px;
    width: auto;
    height: 15rem;
    
}

.row-alternativa{
  justify-content: center;
  text-align: center;

  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;

}
ion-item{
  --highlight-color-focused: none;
}

.hr-up-primary{
  margin: -.1rem 0;
  background: black;
  width: 300px;
}

.hr-down-primary{
  margin: 3rem 0;
  background: black;
  width: 300px;
}

.hr-up-secundary{
  margin: 1.5rem 0;
  background: black;
  width: 300px;
}

.hr-down-secundary{
  margin: -7.1rem 0;
  background: black;
  width: 300px;
}

.card-alternativa{
  border-radius: 21px;
  width: auto;
  height: 16.5rem;
}

.btn-tema-alternativa{
  padding: 1px;
  margin: 12px 12px!important;
  width: auto;
  height: 1.8rem;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  margin-right: 0!important;
  --background:none!important;
  border-radius: 4px!important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
}

.row-alternativa{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
}

.input-questoes-add{
  height: 5px;
  width: 5px;
}

.ios .btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
  --background-activated: #f1f1f1;
  --background-focused: #f1f1f1;
  --background-hover: #f1f1f1;
}

.btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
}
.btn-quantidade{
  width: 15.6rem;
  height: 1.8rem;
  font-size: 10px;
  --background: #fdfdfd !important;
  font-weight: bold;
  --ion-color-light-contrast:var(--ion-color-dark)!important;
}
.btn-criar-alternativa{
  margin: 12px 12px!important;
  width: 7rem;
  height: 2.3rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
}

.modal-wrapper {
  background: #fdfdfd;
}

.my-custom-class .modal-wrapper {
  background: #fdfdfd;
}

.my-custom-class {
  --background: #fdfdfd;
  --height: 16vh;
  --width: 40vh;
  --border-radius: 15px;
}

.btn-sim{
  margin-right: 16px;
  width: 6.6rem !important;
  height: 2.3rem !important;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold !important;

  text-align: center;
  justify-content: center;
  color:#2EC4B6;
  background-color:var(--ion-color-light);
}

.btn-nao{
  width: 6.6rem !important;
  height: 2.3rem !important;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold !important;

  text-align: center;
  justify-content: center;
  color:#FF206E;
  background-color:var(--ion-color-light);
}

.div-modal-alternativa{
  justify-content: center;
  align-items: center;
  display: block;
  margin: 1rem 3rem;
}

.ios .div-modal-alternativa{
  justify-content: center;
  align-items: center;
  display: block;
  margin: 1rem 3rem;
}

.modal-text{
  text-align: center;
  margin: 50px 0;
}

.btn-dissertativa{
  margin: auto;
  width: 10rem !important;
  height: 3rem !important;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold !important;
}

.btn-alternativa{
  margin: auto;
  width: 10rem !important;
  height: 3rem !important;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold !important;
}

.btn-modal{
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.label-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-right: .6rem;
}

.header-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.alternativas-textarea{
  border-radius: 1.7rem;
  height: auto;
  margin-right: 5px;
  background: var(--ion-color-light)!important;
  margin-top: 0;
  box-shadow: var(--box-shadow);
  padding-inline-end: 2px;
}

.ios .alternativas-textarea{
  border-radius: 1.7rem;
  height: auto;
  margin-right: 5px;
  background: var(--ion-color-light)!important;
  border: 0.65px rgb(199, 199, 199) solid;
  margin-top: 0;
  padding-inline-end: 2px;
}
.add-temas{
  border-radius: 1.7rem;
  height: auto!important;
  margin-right: 5px;
  padding-inline-end: 2px;
  background: var(--ion-color-light)!important;
  box-shadow: var(--box-shadow);
  margin-top: 0;
}
.quantidade .popover-content.sc-ion-popover-md{
  border-radius:21px;
  --background:var(--ion-color-light);
  justify-content: center;
  width: 15rem;
  height:4rem;
  
}