.label-menu-fixer-alternativa{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  margin-right: 3.5rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
  
}

.item-input-alternativa{
  --background: #fdfdfd;
  border-radius: 2rem;
  margin: 1rem;
  height: 2.3rem;
}

.input-alternativa{
  justify-content: center;
  text-align: center;
  --padding-top: 0px;
  --padding-bottom: 7px;
  
}

.card-alternativa{
    backface-visibility: hidden;
    border-radius: 21px;
    width: auto;
    height: 15rem;
    
}

.row-alternativa{
  justify-content: center;
  text-align: center;

  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;

}
ion-item{
  --highlight-color-focused: none;
}

.hr-up-primary{
  margin: -.1rem 0;
  background: black;
  width: 300px;
}

.hr-down-primary{
  margin: 3rem 0;
  background: black;
  width: 300px;
}

.hr-up-secundary{
  margin: 1.5rem 0;
  background: black;
  width: 300px;
}

.hr-down-secundary{
  margin: -7.1rem 0;
  background: black;
  width: 300px;
}

.card-alternativa{
  border-radius: 21px;
  width: auto;
  height: 16.5rem;
}

.btn-tema-alternativa{
  padding: 1px;
  margin: 12px 12px!important;
  width: auto;
  height: 1.8rem;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  margin-right: 0!important;
  --background:none!important;
  border-radius: 4px!important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
}

.row-alternativa{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
}

.input-questoes-add{
  height: 5px;
  width: 5px;
}

.btn-quantidade{
  width: 15.6rem;
  height: 1.8rem;
  font-size: 10px;
  --background: #fdfdfd !important;
  font-weight: bold;
  --ion-color-light-contrast:var(--ion-color-dark)!important;
}

.modal-wrapper {
  background: #fdfdfd;
}

.btn-sim{
  width: 4rem;
  height: 1.7rem;
  --ion-color-light-contrast: var(--ion-color-success)!important;
  border: 1px solid var(--ion-color-success);
  font-size: 13px;
  border-radius: 0.2rem;
}

.btn-nao{
  width: 4rem;
  height: 1.7rem;
  border: 1px solid rgba(255, 32, 110, 0.31);
  font-size: 13px;
  border-radius: 0.2rem;
}

.modal-text{
  text-align: center;
  color: var(--ion-color-dark);
}
.modal-text > ion-label{
  font-weight:bold;
  font-size: 20px;
} 

.btn-edit{
  font-weight: bold;
  width: 3.9rem;
  height: 2.3rem;
  --ion-color-light-contrast: var(--ion-color-dark)!important;
  border: 1px solid var(--ion-color-dark);
  font-size: 14.2px;
  border-radius: 0.2rem;
  margin-top: 0.7rem;
}


.btn-modal{
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.label-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-right: .6rem;
}

.btn-modalDefault{
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.alternativas{
  border-radius: 1.7rem;
  margin-right: 5px;
  background: var(--ion-color-light);
  margin-top: 0;
  padding-bottom: 6px;
  box-shadow: var(--box-shadow);
  padding-inline-end: 9px;
  padding-inline-start: 9px;
  padding-top: 6px;
}

.ios .alternativas{
    border-radius: 1.7rem;
    margin-right: 5px;
    background: var(--ion-color-light);
    margin-top: 0;
    padding-bottom: 6px;
    box-shadow: var(--box-shadow);
    padding-inline-end: 9px;
    padding-inline-start: 9px;
    padding-top: 6px;
}


.quantidade .popover-content.sc-ion-popover-md{
  border-radius:21px;
  --background:var(--ion-color-light);
  justify-content: center;
  width: 15rem;
  height:10rem;
  
}

.modal-choose{
  --height: 20%;
  border-color: 1px  blue solid;
}

.modal-wrapper {
  background: var(--ion-color-light)!important;
  --border-radius: 21px;
  --max-width: 16.4rem;
  --border-color: 1px var(--ion-color-dark) solid;
}
