
.ios .cards{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  position: relative;
  background: var(--ion-color-light);
  overflow: hidden;
  padding: 0.4rem;
  color: var(--ion-color-dark);
  cursor: pointer;
  transition: all 75ms ease-out;
  margin: 0.3rem;
}

.ios .cards:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--light);
    transition: all 75ms ease-in;
}
.ios .cards ion-img{opacity: 0.5;}
.ios .cards:hover > ion-img{
    opacity: 1;
}
.ios .cards ion-title{
    margin-bottom: -1rem;
}
.ios .cards ion-label{
    margin-top: -1rem;
}
@media screen and (max-width:360px){
    .ios .cards{
      width: 6rem;
    }
  }
  @media screen and (min-width:361px){
    .ios .cards{
      width: 8rem;
    }
  }
  