
.landing{
    background-color:var(--ion-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.container{
    display: flex;
    justify-content:center;
    height: 100vh;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: -4vh;
}
.img-logo{
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
    width: 130px;
    height: 36px;
}

.card{
    width: 13rem;
    height: 20vh;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-radius: 21px;
}
.ion-content-gif{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-gif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width: 24vh;
    border-radius: 21px;
    
}
.gif{
    width: 29vh;
    height: 16vh;
    padding-bottom: 52%;
    position: relative;
    border-radius: 21px;
    border: 1px #20A4F3 solid;
}
.shape-gif{
    border-radius:50%;
    height:12rem;
    width:12rem;
}
.card-form{
    border-radius: 21px;
    width:15rem;
    height: auto;
}
.row{
    height: 7rem;
    flex-wrap: nowrap;
}
.login-row{
    height: 6rem;
    flex-wrap: nowrap;
}
.card-content-login{
    overflow: hidden;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.cardButton{
    width:16rem;
    height:16rem;
}
.btn-style-dark{
    background-color: var(--ion-color-dark);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    margin: 0 !important;
    margin-left: 0vh !important;
    font-size: small;
}
.btn-style-light{
    background-color: var(--ion-color-primary);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    margin: 0 !important;
    font-size: small;
    margin-right: 2vh !important;
}

.card-content-cadastro{
    overflow: hidden;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: -1vh;
    height: 100%;
}

.btn-cadastro{
    background-color: var(--ion-color-dark);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    margin: 0 !important;
    margin-left: 0vh !important;
    font-size: small;
}


.row-btn-cadastro{
    margin: 0.5rem 0;
    flex-wrap: nowrap;
    justify-content: center;
}
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .alert-wrapper {
    background: #e5e5e5;
    border-radius: 8%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    color:#2EC4B6;
    background-color:var(--ion-color-light);
    width:10%;
    height: 43%;
  }
.alert-title.sc-ion-alert-md {
    color: var(--ion-text-color, #C2F3EE);
    font-size: 30px;
    -webkit-text-stroke:0.5px #2EC4B6;
   text-shadow:
       1px 1px 0 #2EC4B6,
     -1px -1px 0 #2EC4B6,  
      1px -1px 0 #2EC4B6,
      -1px 1px 0 #2EC4B6,
       1px 1px 0 #2EC4B6;
}
.alert-sub-title.sc-ion-alert-md{
    color: var(--ion-text-color,#2EC4B6 );
    font-size: 17px;
    font-weight: bold;
}
.alert-message.sc-ion-alert-md {
    display: flex;
    max-height: 240px;
    font-size: 16px;
    color:var(--ion-color-light);
    background-color: #2EC4B6;
    border-radius: 5%;
    border-right: 5px var(--ion-color-light) solid;
    border-left: 5px var(--ion-color-light) solid;
}
.alert-button-group.sc-ion-alert-md{
    justify-content: center;
   
}
.alert-button.sc-ion-alert-md {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2EC4B6;
    border: 1px #2EC4B6 solid;
    width: 80.04px;
    height: 25.82px;
    border-radius: 4.51826px;
}
.alert-button-inner.sc-ion-alert-md{
    justify-content: center;
}