@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
.page-inicio{
  background-color:var(--ion-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark{
  position: absolute!important;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  color:var(--ion-color-light);
  --ion-color-contrast: none!important;
}
.custom-header, .custom-header-menu{
  z-index: 0;
  background: transparent;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.light{
  color:var(--ion-color-dark);
  border-radius: 50%;
  max-height: 2rem;
  max-width: 2rem;
  --ion-color-contrast: none!important;
}
.custom-icon::slotted(ion-icon){
  color: var(--ion-color-dark)!important;
}
ion-header ion-toolbar:first-of-type{
  --ion-background-color: transparent;
}
.ios ion-header ion-toolbar:first-of-type{
  --background: transparent;
  --border-width: 0 0 0px;
}
ion-menu {
  --max-width: 46%;
  --min-width: 46%;
}
ion-button{
  --background:none!important;
}
.btn-side-menu{
  margin:12px!important;
  width: 6.5rem;
  height: 1.6rem;
  --border-radius: 7px;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.sair{
  margin-top: 1.2rem;
  --border-radius: 50%;
  width: 28px!important;
  height: 28px!important;
  font-weight: bold;
  --line-height: 28px!important;
  font-size: 9px !important;
  color: var(--ion-color-danger)!important;
}
.label-perfil{
  z-index: 10;
  text-align: center;
  height: 7rem;
  width: 7rem;
  /* line-height: 24px; */
  margin-bottom: 0rem;
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  color: rgb(6, 6, 43);
  background-color: rgb(247, 247, 247);
  background-size: contain;
  top: 2.8rem;
  padding-top: 33px;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.link-avatar{
  background-size: contain;
  border-radius: 50%;
}
.img-avatar-perfil{
  width: 7rem;
  height: 7rem;
  background-color: rgb(121, 118, 118);
  border-radius: 50%;
  cursor: pointer;
}

.img-avatar-perfil img{
  border: 2.5px var(--ion-color-dark) solid;
  opacity: 1;
  transition: opacity ease-in 100ms;
  cursor: pointer;
}

.background-photo{
  z-index: 10;
  text-align: center;
  height: 6.6rem;
  width: 6.6rem;
  margin-bottom: 0rem;
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  color: rgb(6, 6, 43);
  background-color: rgb(247, 247, 247);
  top: 0.5rem;
  padding-top: 33px;
  border-radius: 50%;
  margin-left: 0.2rem;
}
.text-photo{
  font-weight: bold;
  position: absolute;
  color: var(--ion-color-dark);
  text-align: center;
  width: 6rem;
  z-index: 11;
  cursor: pointer;
  opacity: 1!important;
}
ion-label div:only-child{
  opacity: 1;
}
.row-level{
  float: left;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 1vh;
  background: var(--ion-color-dark);
  color: var(--light);
  border-radius: 1rem;
  font-weight: bold;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 18px;
  text-align: center;
  line-height: 1.6rem;
}
.label-level{
  position: absolute;
  margin-right: 0rem;
}
.row-label{
  display: flex;
  align-items: center;
  justify-content: center;
  --font-size: x-small!important;
}
.label-menu-fixer{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
}

.label-menu-title-cards{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: .2rem;
}
.display{
 opacity: 0;
}
.display:hover,
.display:focus{
  opacity: 1;
  position: relative;
  margin-right: 2.5rem;
}
.card-menu-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(1, 22, 39, 0.29);;
  width: 95%;
  height: 25vh;
  margin-bottom: 1rem;
  border-radius: 10px;
  border-radius: 5px;
}

.card-title-menu{
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-bar{
  --border-radius: 6px;
  --ion-color-contrast: var(--ion-color-dark)!important;
  max-height: 100%;
  max-width: 100%;
}
.line{
  width: 1px;
  height: 24px;
  background: var(--ion-color-dark);
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  border-radius: 20%;
  margin-left: 3rem;
}
.card-vazio{
  font-size: 30px;
  font-weight: bold;
  color: var(--ion-color-dark);
}
.small-logo img{
  position: absolute;
  width: 8vh;
  height: 7vh;
  margin-top: 12vh;
  top:67vh;
  left: 2vh;
}
.btn-inicio{
  margin-bottom: -25px !important;
}
ion-button{
  border-radius: 50%;
  --backgroun: none!important;
}
.espacamento{
  margin-top: 1px;
}
