.custom-icon-edit{
    color:yellow!important;
}
.custom-icon-add{
    color:var(--ion-color-primary)!important;
}
.custom-icon-answer{
    color:var(--ion-color-success)!important;
}
.custom-icon-close{
    color:var(--ion-color-danger)!important;
}
