/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #20A4F3;
  --ion-color-primary-rgb: 32,164,243;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #1c90d6;
  --ion-color-primary-tint: #36adf4;

  --ion-color-secondary: #2EC4B6;
  --ion-color-secondary-rgb: 46,196,182;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #28aca0;
  --ion-color-secondary-tint: #43cabd;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #41EAD4;
  --ion-color-success-rgb: 65,234,212;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #39cebb;
  --ion-color-success-tint: #54ecd8;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #FF206E;
  --ion-color-danger-rgb: 255,32,110;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e01c61;
  --ion-color-danger-tint: #ff367d;

  --ion-color-dark: #011627;
  --ion-color-dark-rgb: 1,22,39;
  --ion-color-dark-contrast: #20A4F3;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #011322;
  --ion-color-dark-tint: #1a2d3d;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #F6F7F8;
  --ion-color-light-rgb: 246,247,248;
  --ion-color-light-contrast: #FF206E;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8d9da;
  --ion-color-light-tint: #f7f8f9;
  
  --ion-color-base:#f7f8f9;
}

body{
  --ion-background-color:linear-gradient(163.93deg, #2EC4B6 0.73%, #20A4F3 96.73%);
  --box-shadow:0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
  --light:#F6F7F8;
}
*::-webkit-scrollbar 
{
  display: table!important;
}
a{
  font-style:normal;
  text-decoration: none;
  color: inherit;
}
.ios ion-searchbar .line{
  display: none;
}
ion-searchbar .line{
  width: 1px;
  height: 24px;
  background: var(--ion-color-dark);
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  border-radius: 20%;
  margin-left: 2.9rem;

}
ion-scroll {
   white-space: nowrap; 
}
ion-textarea{
 font-size: 16px;
}
.custom-icon-edit{
  font-weight: bolder;
  border-bottom: 0.5px #e4e0e0 solid!important;
}
.custom-icon-add{
  font-weight: bolder;
}
.custom-icon-answer{
  font-weight: bolder;
}
.custom-icon-close{
  color:var(--ion-color-danger)!important;
  font-weight: bolder;
}
.label-vazio{
  font-size: 30px;
  font-weight: bold;
  color: var(--ion-color-dark);
  opacity: 0.7;
}
.ios .btn-dark{
  font-size: medium;
}
.ios .btn-primary{
  font-size: medium;
  margin-right: 1vh !important;
}
.ios .btn-danger{
  font-size:medium;
}
.custom-icon::slotted(ion-icon){
  color: var(--ion-color-dark)!important;
}
ion-header ion-toolbar:first-of-type{
  --ion-background-color: transparent;
}
.ios ion-header ion-toolbar:first-of-type{
  --background: transparent;
  --border-width: 0 0 0px;
}
ion-menu {
  --max-width: 46%;
  --min-width: 46%;
}
ion-button{
  --background:none!important;
}
.add-icon{
  width: 3rem;
  height: 3rem;
}
.add-icon::slotted(ion-icon){
  color: var(--ion-color-success)!important;
}
.custom-fabButton .fab-button-close-active {
  transform: scale(1.9) rotateZ(0deg);
  opacity: 1;
} 
.custom-fabButton{
  --ion-color-dark-contrast:var(--ion-color-success)!important;
}
.custom-header, .custom-header-menu{
  z-index: 0;
  background: transparent;
}
.menu-bottom{
  --height:65vh!important;
  --background: #e5e5e5;
  --button-background-selected: #e5e5e5;
}
.menu-bottom .action-sheet-group {
  background: #e5e5e5;
}
.action-sheet-destructive.sc-ion-action-sheet-ios {
  border-bottom: 0.5px #dad0d0 solid!important;
}
.label-menu-fixer{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
}
.light{
  position: absolute!important;
  z-index: 3;
  color: var(--ion-color-dark);
  border-radius: 50%;
  max-height: 2rem;
  max-width: 2rem;
  --ion-color-contrast: none!important;
}
.dark{
  position: absolute!important;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  color:var(--ion-color-light);
  --ion-color-contrast: none!important;
}
.input-time{
  text-align: center;
  color: var(--ion-color-dark);
  border-radius: 16px;
  background: var(--ion-color-light);
  font-weight: bold;
  width: 4.1rem;
  height: 2rem;
  font-size: 19px;
}
.container-cards{
  display: flex;
  justify-content: center;
  background: rgba(1, 22, 39, 0.29);
  width: 97%;
  height: 80%;
  border-radius: 5px;
  overflow: auto;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
  padding-top: 5px;
  overflow-y: overlay;
}
.grid-cards{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.btn-choose{
  margin: auto;
  font-weight: bold;
  width: 7.9rem;
  height: 2.3rem;
  --ion-color-light-contrast: var(--ion-color-dark)!important;
  border: 1px solid var(--ion-color-dark);
  font-size: 14.2px;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
.item-input-title{
  --background: #fdfdfd;
  border-radius: 2rem;
  margin: 1rem;
  height: 2.3rem;
}
.input-title{
  justify-content: center;
  text-align: center;
  --padding-top: 0px;
  --padding-bottom: 7px;
}
.card-question{
  border-radius: 21px;
  width: auto;
  height: 16.5rem;
}
.ios .back-temas{
  width: auto;
}
.back-temas{
  background: #C8F9F3;
  border-radius: 6px;
  border: 0.65px #41EAD4 solid;
  height: 9.3rem;
  margin: 0rem 1rem 1rem 1rem;
  overflow-y: auto;
  overflow-x: auto;
}

.back-temas > ion-input{
  background-color: var(--ion-color-light)!important;
  margin-right: 2px;
}
.back-temas::-webkit-scrollbar{
  width: 7px;
  padding-left: 2px;
}
.back-temas::-webkit-scrollbar-thumb{
  background: #4a5a66;
  border-radius: 8px;
}
.back-temas::-webkit-scrollbar-thumb:hover{
  background: var(--ion-color-dark);
}
.add-temas{
  border-radius: 1.7rem;
  height: 2rem;
  margin-right: 5px;
  background: var(--ion-color-light);
  box-shadow: var(--box-shadow);
}

.ios .add-temas{
  --padding-start:5px;
  border: 0.65px rgb(199, 199, 199) solid;
  border-radius: 1.7rem;
  height: 2rem;
  margin-right: 5px;
  background: var(--ion-color-light);
}


.add-btn{
  --ion-color-light-contrast: var(--ion-color-success)!important;
  width: 2rem;
  height: 2rem;
}
.remove-btn{
  width: 2rem;
  height: 2rem;
}
.btn-save{
  width: 4rem;
  height: 1.7rem;
  --ion-color-light-contrast: var(--ion-color-success)!important;
  border: 1px solid var(--ion-color-success);
  font-size: 13px;
  border-radius: 0.2rem;
}
.btn-clean{
  width: 4rem;
  height: 1.7rem;
  border: 1px solid rgba(255, 32, 110, 0.31);
  font-size: 13px;
  border-radius: 0.2rem;
}
.my-custom-class{
  --height: 35vh;
}

.save .popover-content.sc-ion-popover-md{
  border-radius:21px;
  --background:var(--ion-color-light);
  justify-content: center;
  width:10rem;
  height:4rem;
  
}
.input-tema{
  color: #011627;
    font-size: 16px;
    padding-bottom: 0!important;
    margin-bottom: 8px !important;
    margin-left: 1rem;
    width: auto;
    text-decoration: none;
    border-bottom: 1px#aba8a8 solid;
    margin-top: 10px;
    height: 1.8rem;
    margin-right: 0.5rem;
}
.content-background{
  background-color: #CFE8F7;
  padding:0;
}
.row-enunciated{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
  overflow: auto;
}
.ios .row-enunciated{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
  padding-left:6px;
  overflow: auto;
}
.question{
  overflow-x: auto;
  overflow-y: visible;
  height:10.4rem;
  word-spacing: -2px!important;
}
.ios .question{
  overflow-x: auto;
  overflow-y: visible;
  height:10.4rem;
  word-spacing: -2px!important;
}
.row-footer{
  border-bottom: 1px var(--ion-color-dark) solid;
  padding: 0!important;
  margin:0!important;
}
.ios .email{
  margin-inline-start: -1.2rem;
}
.ios .senha{
  margin-inline-start: -1.2rem;
}
.alternativa-correta{
  border-radius: 1.7rem;
  margin-right: 5px;
  padding-inline-end: 2px;
  background: var(--ion-color-light)!important;
  box-shadow: var(--box-shadow);
  margin-top: 0;
  --padding-start: 1rem;
}
.alternativa-correta::placeholder{
  line-height: 3rem;
}
.add-alternativas{
  border-radius: 1.7rem;
  height: auto;
  margin-right: 5px;
  padding-inline-end: 2px;
  background: var(--ion-color-light)!important;
  box-shadow: var(--box-shadow);
  margin-top: 0;
  --padding-start: 1rem;
  --padding-bottom: 16px;
}
.div-modal-alternativa{
  justify-content: center;
  align-items: center;
  display: block;
}

.ios .div-modal-alternativa {
  margin: 0.3rem 2rem;
}
.ios .card-image{
  height: 5rem;
  width: 5rem;
  margin: .8rem 0;
}

.ios .card-title{
  display: block;
  opacity: 0;
  font-size: 15px;
  font-weight: bold;
  color:var(--ion-color-dark);
  text-align:center;
}
.card-flip{
  backface-visibility: hidden;
  border-radius: 21px;
  width: auto;
  height: 16.5rem;
}
.row-timer{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: -0.7rem;
  width: 5.6rem;
}
.ios .row-timer{
  margin-top: 0.3rem;
}
.ios .btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
  --background-activated: #f1f1f1;
  --background-focused: #f1f1f1;
  --background-hover: #f1f1f1;
}
.btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
}
.modal-criar{
  --height: 14%;
  --width: 72%;
  --background: var(--ion-color-light);
  --border-radius: 21px;
}
.modalSair{
  --height:13%;
}
.ios .modalSair{
  --height:16%;
}
.modal-choose{
  --height:20%;
}
.ios .modal-criar{
  --height: 16%;
}
.ios .modal-choose{
  --height: 22%;
}
.ios .row-timer{
  margin-top: -0rem;
}
.tooltip-text{
  visibility: hidden;
  width: 69px;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  text-align: center;
  border-radius: 19px;
  z-index: 3;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  padding-left: 0px;

}
.toggle:hover + .tooltip-text{
  visibility: visible;
}
.popover-content.sc-ion-popover-md{
  border-radius:21px;
  --background:var(--ion-color-light);

}
.temas-custom{
  --height: 38vh;
}
.ios .temas-custom{
  --height: 38vh;
  --background:var(--ion-color-light);
}


.temas-inputs{
  border-radius: 1.7rem;
  height: 2rem;
  margin-right: 5px;
  background: var(--ion-color-light);
  box-shadow: var(--box-shadow);
}
.ios .temas-inputs{
  border-radius: 1.7rem;
  height: 2rem;
  margin-right: 5px;
  background: var(--ion-color-light);
  border: 0.65px rgb(199, 199, 199) solid;
}
.custom-popSair{
  --background:var(--ion-color-light);
  --height: 16%;
  --width: 92%;
}
.ios .custom-popSair{
  --height: 19%;
}
.row-btn-final{
  margin-top: 2rem;
}
.btn-final{
  background: var(--ion-color-light);
  --ion-color-light-contrast: var(--ion-color-dark);
  font-weight: bold;
}
.btn-sim{
  width: 4rem;
  height: 1.7rem;
  --ion-color-light-contrast: var(--ion-color-success)!important;
  border: 1px solid var(--ion-color-success);
  font-size: 13px;
  border-radius: 0.2rem;
}
.btn-nao{
  width: 4rem;
  height: 1.7rem;
  border: 1px solid rgba(255, 32, 110, 0.31);
  font-size: 13px;
  border-radius: 0.2rem;
}
.modal-text{
  display: flex;
  text-align: center;
  color: var(--ion-color-dark);
  justify-content: center;
}
.modal-text > ion-label{
  font-weight:bold;
  font-size: 20px;
} 
.btn-edit{
  font-weight: bold;
  width: 3.9rem;
  height: 2.3rem;
  --ion-color-light-contrast: var(--ion-color-dark)!important;
  border: 1px solid var(--ion-color-dark);
  font-size: 14.2px;
  border-radius: 0.2rem;
  margin-top: 0.7rem;
}
.btn-modal{
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-right: .6rem;
}
.btn-modalDefault{
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.alternativas{
  border-radius: 1.7rem;
  margin-right: 5px;
  background: var(--ion-color-light);
  margin-top: 0;
  padding-bottom: 6px;
  box-shadow: var(--box-shadow);
  padding-inline-end: 9px;
  padding-inline-start: 9px;
  padding-top: 6px;
}

.ios .alternativas{
    border-radius: 1.7rem;
    margin-right: 5px;
    background: var(--ion-color-light);
    margin-top: 0;
    padding-bottom: 6px;
    box-shadow: var(--box-shadow);
    padding-inline-end: 9px;
    padding-inline-start: 9px;
    padding-top: 6px;
}
.answer{
  overflow-y: auto;
  overflow-y: visible;
  word-spacing: -2px!important;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
  padding: 2px;
}

.ios .answer{
  overflow-x: auto;
  overflow-y:visible;
  word-spacing: -2px!important;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
  padding: 2px;
}