/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #20A4F3;
  --ion-color-primary-rgb: 32,164,243;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #1c90d6;
  --ion-color-primary-tint: #36adf4;

  --ion-color-secondary: #2EC4B6;
  --ion-color-secondary-rgb: 46,196,182;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #28aca0;
  --ion-color-secondary-tint: #43cabd;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #41EAD4;
  --ion-color-success-rgb: 65,234,212;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #39cebb;
  --ion-color-success-tint: #54ecd8;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #FF206E;
  --ion-color-danger-rgb: 255,32,110;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e01c61;
  --ion-color-danger-tint: #ff367d;

  --ion-color-dark: #011627;
  --ion-color-dark-rgb: 1,22,39;
  --ion-color-dark-contrast: #20A4F3;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #011322;
  --ion-color-dark-tint: #1a2d3d;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #F6F7F8;
  --ion-color-light-rgb: 246,247,248;
  --ion-color-light-contrast: #FF206E;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8d9da;
  --ion-color-light-tint: #f7f8f9;
  
  --ion-color-base:#f7f8f9;
}

body{
  --ion-background-color:linear-gradient(163.93deg, #2EC4B6 0.73%, #20A4F3 96.73%);
  --box-shadow:0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
  --light:#F6F7F8;
}
*::-webkit-scrollbar 
{
  display: table!important;
}
a{
  font-style:normal;
  text-decoration: none;
  color: inherit;
}
.ios ion-searchbar .line{
  display: none;
}
ion-searchbar .line{
  width: 1px;
  height: 24px;
  background: var(--ion-color-dark);
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  border-radius: 20%;
  margin-left: 2.9rem;

}
ion-scroll {
   white-space: nowrap; 
}
ion-textarea{
 font-size: 16px;
}
.custom-icon-edit{
  font-weight: bolder;
  border-bottom: 0.5px #e4e0e0 solid!important;
}
.custom-icon-add{
  font-weight: bolder;
}
.custom-icon-answer{
  font-weight: bolder;
}
.custom-icon-close{
  color:var(--ion-color-danger)!important;
  font-weight: bolder;
}
.label-vazio{
  font-size: 30px;
  font-weight: bold;
  color: var(--ion-color-dark);
  opacity: 0.7;
}
.ios .btn-dark{
  font-size: medium;
}
.ios .btn-primary{
  font-size: medium;
  margin-right: 1vh !important;
}
.ios .btn-danger{
  font-size:medium;
}
.custom-icon::slotted(ion-icon){
  color: var(--ion-color-dark)!important;
}
ion-header ion-toolbar:first-of-type{
  --ion-background-color: transparent;
}
.ios ion-header ion-toolbar:first-of-type{
  --background: transparent;
  --border-width: 0 0 0px;
}
ion-menu {
  --max-width: 46%;
  --min-width: 46%;
}
ion-button{
  --background:none!important;
}
.add-icon{
  width: 3rem;
  height: 3rem;
}
.add-icon::slotted(ion-icon){
  color: var(--ion-color-success)!important;
}
.custom-fabButton .fab-button-close-active {
  transform: scale(1.9) rotateZ(0deg);
  opacity: 1;
} 
.custom-fabButton{
  --ion-color-dark-contrast:var(--ion-color-success)!important;
}
.menu-bottom{
  --height:65vh!important;
  --background: #e5e5e5;
  --button-background-selected: #e5e5e5;
}
.menu-bottom .action-sheet-group {
  background: #e5e5e5;
}
.action-sheet-destructive.sc-ion-action-sheet-ios {
  border-bottom: 0.5px #dad0d0 solid!important;
}