.label-menu-fixer-dissertativa{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  margin-right: 3.5rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
}

.item-input-dissertativa{
  --background: #fdfdfd;
  border-radius: 2rem;
  margin: 1rem;
  height: 2.3rem;
}

.input-dissertativa{
  justify-content: center;
  text-align: center;
  --padding-top: 0px;
  --padding-bottom: 7px;
}
ion-item{
  --highlight-color-focused: none;
}

.btn-tema-dissertativa{
  padding: 1px;
  margin: 12px 12px!important;
  width: auto;
  height: 1.8rem;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  margin-right: 0!important;
  --background:none!important;
  border-radius: 4px!important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)!important;
}
.ios .btn-tema-dissertativa{
  --background-activated: #f1f1f1;
  --background-focused: #f1f1f1;
  --background-hover: #f1f1f1;
  --box-shadow: 0px 0px 0px var(--ion-color-light);
  --border-radius: 4px!important;
}


.header-theme{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-tema{
  color: #011627;
    font-size: 16px;
    padding-bottom: 0!important;
    margin-bottom: 8px !important;
    margin-left: 1rem;
    width: auto;
    text-decoration: none;
    border-bottom: 1px#aba8a8 solid;
    margin-top: 10px;
    height: 1.8rem;
    margin-right: 0.5rem;
}
.card-dissertativa{
  border-radius: 21px;
  width: auto;
  height: 16.5rem;
}
.row-dissertativa{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
}
.ios .row-dissertativa{
  justify-content: center;
  text-align: justify;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: 'Archivo Narrow', sans-serif;
  height: 11rem;
  padding-left:6px;
}
.content-background{
  background-color: #CFE8F7;
  padding:0;
}
.card-dissertativa-secundary{
  border-radius: 21px;
  width: auto;
}
.row-header{
  border-bottom: 1px var(--ion-color-dark) solid;
  height: 2.9rem;
}
.row-footer{
  border-bottom: 1px var(--ion-color-dark) solid;
  padding: 0!important;
  margin:0!important;
}
.row-header-resposta{
  border-bottom: 1px var(--ion-color-dark) solid;
  height: 2rem;
}
.row-footer-resposta{
  border-top: 1px var(--ion-color-dark) solid;
  height: 2rem;
}

.ios .btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
  --background-activated: #f1f1f1;
  --background-focused: #f1f1f1;
  --background-hover: #f1f1f1;
}
.btn-criar{
  margin: 12px 12px!important;
  width: 4.6rem;
  height: 1.8rem;
  font-size: 11px!important;
  --background: #fdfdfd !important;
  font-weight: bold;
}
.native-textarea.sc-ion-textarea-md{
  word-spacing:-1px;
}
.native-textarea.sc-ion-textarea-ios{
  word-spacing:-1px;
}
.row-toggle{
  width: 100%;
  display: flex;
  align-items: center;
  transition: visibility ease-in-out 7ms;
}
.toggle {
  --background: var(--ion-color-light);
  --background-checked: var(--ion-color-dark);

  --handle-background: var(--ion-color-light);
  --handle-background-checked:var(--ion-color-light);

  height: 1.1rem;
  padding-left: 4px;
}
.ios .toggle{
  width: 2.7rem;
}
.label-timer{
  font-weight: bold;
  font-size: 15px;
  margin-left: 7px;
}
.timer-back{
  display: flex;
  flex-wrap: nowrap;
}
.icon-styled{
  height: 2rem;
  width: 2rem;
  background: var(--ion-color-light);
  border-radius: 3rem;
}
.row-timer{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: -0.7rem;
  width: 5.6rem;
}
.ios .row-timer{
  margin-top: -0rem;
}
.tooltip-text{
  visibility: hidden;
  width: 69px;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  text-align: center;
  border-radius: 19px;
  z-index: 3;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
  padding-left: 0px;

}
.toggle:hover + .tooltip-text{
  visibility: visible;
}
.popover-content.sc-ion-popover-md{
  border-radius:21px;
  --background:var(--ion-color-light);

}

.my-custom-class .popover-content.sc-ion-popover-ios .tema {
  border-radius:21px;
  --background:var(--ion-color-light);
  --width:10rem!important;
  --height:10rem!important;
}
.save .popover-content.sc-ion-popover-ios{
  border-radius:21px;
  --background:var(--ion-color-light);
  justify-content: center;
  width:10rem;
  height:4rem;
}
.btn-save{
  width: 4rem;
  height: 1.7rem;
  --ion-color-light-contrast: var(--ion-color-success)!important;
  border: 1px solid var(--ion-color-success);
  font-size: 13px;
  border-radius: 0.2rem;
}
.btn-cancel{
  width: 5rem;
  height: 1.7rem;
  border: 1px solid rgba(255, 32, 110, 0.31);
  font-size: 13px;
  border-radius: 0.2rem;
}