@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
.page-inicio{
  background-color:var(--ion-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark{
  position: absolute!important;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  color:var(--ion-color-light);
  --ion-color-contrast: none!important;
}
.custom-header, .custom-header-menu{
  z-index: 0;
  background: transparent;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.light{
  color:var(--ion-color-dark);
  border-radius: 50%;
  max-height: 2rem;
  max-width: 2rem;
  --ion-color-contrast: none!important;
}
.custom-icon::slotted(ion-icon){
  color: var(--ion-color-dark)!important;
}
ion-header ion-toolbar:first-of-type{
  --ion-background-color: transparent;
}
ion-menu {
  --max-width: 46%;
  --min-width: 46%;
}
ion-button{
  --backgroun:none!important;
}
.btn-side-menu{
  margin:-8px!important;
  width: 101px;
  height: 26px;
  --border-radius: 7px;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.sair{
  --border-radius: 50%;
  width: 28px!important;
  height: 28px!important;
  font-weight: bold;
  --line-height: 28px!important;
  font-size: 9px !important;
  color: var(--ion-color-danger)!important;
}

.img-avatar-perfil{
  width: 90%;
  height: 50%;
}
.img-avatar-perfil img{
  border: 2.5px var(--ion-color-dark) solid;
}
.label-level{
  background: var(--ion-color-dark);
  color: var(--light);
  border-radius: 50%;
  font-weight: bold;
  width: 11px;
  height: 11px;
  font-size: 9px;
  text-align: center;
  line-height: 11px;
}
.row-label{
  display: flex;
  align-items: center;
  justify-content: center;
  --font-size: x-small!important;
}
.label-menu-fixer{
  display: flex;
  font-size: 20px;
  margin-top: .4rem;
  justify-content: center;
  color: var(--ion-color-dark);
  font-family: Poppins;
}

.label-menu-title-cards{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: .2rem;
}

.card-menu-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(1, 22, 39, 0.29);;
  width: 13rem;
  height: 20vh;
  margin-bottom: 1rem;
  border-radius: 10px;
  border-radius: 5px;
}

.card-title-menu{
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-bar{
  --border-radius: 6px;
  --ion-color-contrast: var(--ion-color-dark)!important;
}
.line{
  width: 1px;
  height: 20px;
  background:var(--ion-color-dark);
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  border-radius: 20%;
  margin-top: 3vh;
  margin-left: 8vh;
}
.card-vazio{
  font-size: 30px;
  font-weight: bold;
  color: var(--ion-color-dark);
}
.small-logo img{
  width: 8vh;
  height: 7vh;
  margin-top: 12vh;
  margin-right: 10vh;
}