.page-inicio{
  background-color:var(--ion-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-left{
  margin: 1.8rem;
  display: block;
  justify-content: center;

}

.col-right{
  margin: 1.8rem;
}

.icone{
  max-height: 2rem;
  max-width: 2rem;
  background-color:#fff !important;
  border-radius: 50%;
}

.button-flashcards{
  flex-wrap: wrap;
  margin: 18px -1.6rem;
}

.button-questionarios{
  flex-wrap: wrap;
  margin: -3rem -1.6rem;
}

.button-classes{
  flex-wrap: wrap;
  margin: 1.6rem -1.6rem;
}

.button-conquistas{
  flex-wrap: wrap;
  margin: -4rem -1.6rem;
}

.icon-fab-menu{
  max-height: 50rem;
  max-width: 50rem;
}

.icon-fab-button-list{
  max-height: 2rem;
  max-width: 2rem;
  background-color:#fff !important;
  border-radius: 50%;
}
.icone{
  position: absolute;
  z-index: 3;
}
.custom-menu{
    --width: 500px;
}

@media (max-width: 340px){
  .custom-menu {
    --width: 100px !important;
    --ion-background-color: var(--ion-color-light);
  }
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.icon-fab-button light{
  color:var(--ion-color-dark);
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

.avatar-perfil{
  margin: 2rem 6rem;
}

