@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
.page-inicio{
  background-color:var(--ion-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark{
  position: absolute!important;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  color:var(--ion-color-light);
  --ion-color-contrast: none!important;
}
.custom-header, .custom-header-menu{
  z-index: 0;
  background: transparent;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.light{
  color:var(--ion-color-dark);
  border-radius: 50%;
  max-height: 2rem;
  max-width: 2rem;
  --ion-color-contrast: none!important;
}
.custom-icon::slotted(ion-icon){
  color: var(--ion-color-dark)!important;
}
ion-header ion-toolbar:first-of-type{
  --ion-background-color: transparent;
}
ion-menu {
  --max-width: 46%;
  --min-width: 46%;
}
ion-button{
  --backgroun:none!important;
}
.btn-side-menu{
  margin:-8px!important;
  width: 101px;
  height: 26px;
  --border-radius: 7px;
  font-size: 11px!important;
  --ion-color-light-contrast:var(--ion-color-dark);
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.sair{
  --border-radius: 50%;
  width: 28px!important;
  height: 28px!important;
  font-weight: bold;
  font-size:10.5538px !important;
  color: var(--ion-color-danger)!important;
}

.img-avatar-perfil{
  margin: 2rem 0;
}

.label-menu-fixer{
  display: flex;
  font-size: 30px;
  margin-right: 3rem;
  margin-top: .4rem;
  justify-content: center;
  color: #333;
  font-family: Poppins;
}

.label-menu-title-cards{
  display: flex;
  font-size: 20px;
  justify-content: center;
  color: #011627;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: .2rem;
}

.card-menu-content{
  background: #fdfdfd;
  width: 13rem;
  height: 20vh;
  margin-bottom: 1rem;
  border-radius: 10px;
  border-radius: 21px;
}

.card-title-menu{
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-bar{
  border-radius: 50px;
}
