* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --white: #F6F7F8;
    --blue: #20A4F3;
    --greenLighter: #41EAD4;
    --green: #2EC4B6;
    --black: #011627; 
    --danger: #FF206E;
    --background:linear-gradient(163.93deg, #2EC4B6 0.73%, #20A4F3 96.73%);
  
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    background-color:#647a8d;
  }
  
  a {
    color: inherit;
  } 
  #root{
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
  }