.custom-header{
    z-index: 0;
    background: transparent;
  }

  .container-flashcards{
    display: flex;
    justify-content: center;
    background: rgba(1, 22, 39, 0.29);
    width: auto;
    height: 80%;
    border-radius: 5px;
    overflow: auto;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  }
  .ButtonChoise{
    --ion-color-dark-contrast:var(--ion-color-light)!important;
    margin: 0.2rem -50px !important;
    font-size: 11px !important;
    --border-radius: 16px;
  }

  .add-icon{
    width: 3rem;
    height: 3rem;
  }
  .add-icon::slotted(ion-icon){
    color: var(--ion-color-success)!important;
  }
  .custom-fabButton .fab-button-close-active {
    transform: scale(1.9) rotateZ(0deg);
    opacity: 1;
  } 
  .custom-fabButton{
    --ion-color-dark-contrast:var(--ion-color-success)!important;
  }
  .ion-fab-margin{
    left: 84%;
  }
  .align-cards{
    margin-left: 0;
    margin-right: 0;
}
.my-custom-class{
  --height:65vh!important;
  --background: #e5e5e5;
  --button-background-selected: #e5e5e5;
}

.my-custom-class .action-sheet-group {
  background: #e5e5e5;
}
