.custom-header{
    z-index: 0;
    background: transparent;
  }

  @media screen and (max-width:340px){
    .ion-fab-margin{
      left: 84%;
    }
  }
  @media screen and (min-width:341px){
    .ion-fab-margin{
      left: 84%;
    }
  }
  .align-cards{
    margin-left: 0;
    margin-right: 0;
}

.card-vazio-cards{
  font-size: 30px;
    font-weight: bold;
    color: var(--ion-color-dark);
    opacity: 0.7;
    display: flex;
    justify-content: center;
}
